<section class="comms">
	<div class="container comms__container">
		<h2 class="title comms__title">Отзывы</h2>
		<div class="swiper comms__slider">
			<button
				class="btn-reset btn-control btn-control-prev btn-control-shadowless comms__button-control comms__button-control-prev"
			>
				<svg class="btn-control__arrow">
					<use xlink:href="./img/sprite.svg#right-arrow"></use>
				</svg>
			</button>
			<div class="swiper-wrapper comms__wrapper">
				<div class="swiper-slide comms__slide">
					<div class="comms__container-image">
						<img
							src="./img/comms-image-1.webp"
							class="image comms__image"
							width="120"
							height="120"
							alt="Аватар клиента"
						/>
					</div>
					<div class="comms__body">
						<h4 class="title comms__date">24.04.2023</h4>
						<h3 class="title comms__name">Анастасия Куманева</h3>
						<p class="title comms__paragraph">
							Прошла обучение в ДОСААФ, всем довольна. Теория разбирается очень доступно и на жизненных
							примерах Далекоооооооооооо, за словесными.
						</p>
						<a href="#" class="btn-control btn-control-next btn-control-shadowless comms__link">
							<svg class="btn-control__arrow">
								<use xlink:href="./img/sprite.svg#right-arrow"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="swiper-slide comms__slide">
					<div class="comms__container-image">
						<img
							src="./img/comms-image-2.webp"
							class="image comms__image"
							width="120"
							height="120"
							alt="Аватар клиента"
						/>
					</div>
					<div class="comms__body">
						<h4 class="title comms__date">24.04.2023</h4>
						<h3 class="title comms__name">Регинка Анфиногенова</h3>
						<p class="title comms__paragraph">
							Прошла обучение в ДОСААФ, всем довольна. Теория разбирается очень доступно и на жизненных
							примерах Далекоооооооооо, за словесными.
						</p>
						<a href="#" class="btn-control btn-control-next btn-control-shadowless comms__link">
							<svg class="btn-control__arrow">
								<use xlink:href="./img/sprite.svg#right-arrow"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="swiper-slide comms__slide">
					<div class="comms__container-image">
						<img
							src="./img/comms-image-3.webp"
							class="image comms__image"
							width="120"
							height="120"
							alt="Аватар клиента"
						/>
					</div>
					<div class="comms__body">
						<h4 class="title comms__date">24.04.2023</h4>
						<h3 class="title comms__name">Арина Цыплакова</h3>
						<p class="title comms__paragraph">
							Прошла обучение в ДОСААФ, всем довольна. Теория разбирается очень доступно и на жизненных
							примерах Далекоооооооооооо, за словесными.
						</p>
						<a href="#" class="btn-control btn-control-next btn-control-shadowless comms__link">
							<svg class="btn-control__arrow">
								<use xlink:href="./img/sprite.svg#right-arrow"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="swiper-slide comms__slide">
					<div class="comms__container-image">
						<img
							src="./img/comms-image-3.webp"
							class="image comms__image"
							width="120"
							height="120"
							alt="Аватар клиента"
						/>
					</div>
					<div class="comms__body">
						<h4 class="title comms__date">24.04.2023</h4>
						<h3 class="title comms__name">Арина Цыплакова</h3>
						<p class="title comms__paragraph">
							Прошла обучение в ДОСААФ, всем довольна. Теория разбирается очень доступно и на жизненных
							примерах Далекооооооооо, за словесными.
						</p>
						<a href="#" class="btn-control btn-control-next btn-control-shadowless comms__link">
							<svg class="btn-control__arrow">
								<use xlink:href="./img/sprite.svg#right-arrow"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<button
				class="btn-reset btn-control btn-control-next btn-control-shadowless comms__button-control comms__button-control-next"
			>
				<svg class="btn-control__arrow">
					<use xlink:href="./img/sprite.svg#right-arrow"></use>
				</svg>
			</button>
		</div>
		<a href="#" target="_blank" class="comms__link-all">
			все отзывы
			<svg class="comms__icon">
				<use xlink:href="./img/sprite.svg#refresh"></use>
			</svg>
		</a>
	</div>
</section>
