<footer class="footer">
	<div class="footer__container-top">
		<div class="container footer__container footer__top">
			<div class="footer__container-logo">
				<img
					src="./img/logo-footer.webp"
					class="image footer__logo-kolomna"
					width="190"
					height="190"
					alt="Логотип компании"
				/>
				<ul class="list-reset footer__list">
					<li class="footer__item">
						<a href="#" class="footer__link">Подготовка водителей</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Услуги и цены</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link">Записаться</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer__link footer__link-online">Online обучение</a>
					</li>
					<li class="footer__item footer__discount">
						<a href="#" class="footer__link-discount">
							<img
								src="./img/discount.svg"
								class="image footer__icon-discount"
								width="19"
								height="21"
								alt="Иконка скидки"
							/>
							Акции и скидки</a
						>
					</li>
				</ul>
			</div>
			<div class="footer__container-phone">
				<a href="tel:" class="btn-reset footer__call">
					<img
						src="./img/phone.svg"
						class="image footer__icon-phone"
						width="20"
						height="20"
						alt="Иконка телефона"
					/>
					<div class="footer__container-call">
						<div class="footer__text-call footer__text-call-primary">8 (999) 000-55-10</div>
						<div class="footer__text-call footer__text-call-secondary">заказать звонок</div>
					</div>
				</a>
				<div class="footer__social">
					<a href="#" target="_blank" class="footer__link-social">
						<svg class="footer__icon footer__icon-vk">
							<use xlink:href="./img/sprite.svg#vk"></use>
						</svg>
					</a>
					<a href="#" target="_blank" class="footer__link-social">
						<svg class="footer__icon footer__icon-tg">
							<use xlink:href="./img/sprite.svg#tg"></use>
						</svg>
					</a>
					<a href="#" target="_blank" class="footer__link-social">
						<svg class="footer__icon footer__icon-whatsapp">
							<use xlink:href="./img/sprite.svg#whatsapp"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container footer__container footer__container-body">
		<p class="footer__paragraph">
			Профессиональное образовательное учреждение «Коломенская школа Общероссийской общественно-государственной
			организации «Добровольное общество содействия армии, авиации и флоту России»
		</p>
		<p class="footer__paragraph">140405, Московская область, г. Коломна, ул. Астахова, д.2</p>
		<p class="footer__paragraph">ИНН 5022014895, ОГРН 1035004251677,</p>
		<p class="footer__paragraph">тел. 8(999)000-55-10</p>
		<div class="footer__row">
			<a href="#" class="footer__link-policy">Положение об обработке персональных данных</a>
			<img
				src="./img/luxar-logo.webp"
				class="image footer__logo-luxar"
				width="100"
				height="70"
				alt="Логотип luxar"
			/>
		</div>
	</div>
</footer>
