<section class="hero">
	<div class="swiper hero__slider">
		<button class="btn-reset btn-control btn-control-prev hero__button-control hero__button-control-prev">
			<svg class="btn-control__arrow">
				<use xlink:href="./img/sprite.svg#right-arrow"></use>
			</svg>
		</button>
		<div class="swiper-wrapper hero__wrapper">
			<div class="swiper-slide hero__slide" style="background-image: url(./img/hero-slide-1-bg.webp)">
				<div class="container hero__container">
					<div class="hero__body">
						<div class="hero__container-shadow">
							<div class="hero__container-content">
								<div class="hero__content">
									<h1>Открыт набор на&nbsp;обучение</h1>
									<p>
										Водитель внедорожных мототранспортных средств категории «А1» (квадроцикл,
										снегоход) - 13 000 руб
									</p>
									<p>
										Водитель внедорожных автотранспортных средств категории «А2» (багги, вездеходы
										"Трэкол", "Узола", "Ухтыш") - 15 000 руб
									</p>
									<a href="#" class="btn-reset btn btn-primary hero__button">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 🙂🙂🙂 nice design -->
				<a href="#" class="btn-reset btn btn-primary hero__button-hidden">подробнее</a>
			</div>
			<div class="swiper-slide hero__slide" style="background-image: url(./img/hero-slide-2-bg.webp)">
				<div class="container hero__container">
					<div class="hero__body">
						<div class="hero__container-shadow">
							<div class="hero__container-content">
								<div class="hero__content">
									<h1>Скидка 2000 руб. на&nbsp;категорию «В»</h1>
									<p>
										Членам профсоюзной организации работников ОАО "Челябинский Металлургический
										Комбинат" (ЧМК) при предъявлении справки о принадлежности работника к
										профсоюзному комитету ЧМК
									</p>
									<a href="#" class="btn-reset btn btn-primary hero__button">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn-reset btn btn-primary hero__button-hidden">подробнее</a>
			</div>
			<div class="swiper-slide hero__slide" style="background-image: url(./img/hero-slide-1-bg.webp)">
				<div class="container hero__container">
					<div class="hero__body">
						<div class="hero__container-shadow">
							<div class="hero__container-content">
								<div class="hero__content">
									<h1>Открыт набор на&nbsp;обучение</h1>
									<p>
										Водитель внедорожных мототранспортных средств категории «А1» (квадроцикл,
										снегоход) - 13 000 руб
									</p>
									<p>
										Водитель внедорожных автотранспортных средств категории «А2» (багги, вездеходы
										"Трэкол", "Узола", "Ухтыш") - 15 000 руб
									</p>
									<a href="#" class="btn-reset btn btn-primary hero__button">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn-reset btn btn-primary hero__button-hidden">подробнее</a>
			</div>
			<div class="swiper-slide hero__slide" style="background-image: url(./img/hero-slide-2-bg.webp)">
				<div class="container hero__container">
					<div class="hero__body">
						<div class="hero__container-shadow">
							<div class="hero__container-content">
								<div class="hero__content">
									<h1>Скидка 2000 руб. на&nbsp;категорию «В»</h1>
									<p>
										Членам профсоюзной организации работников ОАО "Челябинский Металлургический
										Комбинат" (ЧМК) при предъявлении справки о принадлежности работника к
										профсоюзному комитету ЧМК
									</p>
									<a href="#" class="btn-reset btn btn-primary hero__button">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn-reset btn btn-primary hero__button-hidden">подробнее</a>
			</div>
			<div class="swiper-slide hero__slide" style="background-image: url(./img/hero-slide-2-bg.webp)">
				<div class="container hero__container">
					<div class="hero__body">
						<div class="hero__container-shadow">
							<div class="hero__container-content">
								<div class="hero__content">
									<h1>Скидка 2000 руб. на&nbsp;категорию «В»</h1>
									<p>
										Членам профсоюзной организации работников ОАО "Челябинский Металлургический
										Комбинат" (ЧМК) при предъявлении справки о принадлежности работника к
										профсоюзному комитету ЧМК
									</p>
									<a href="#" class="btn-reset btn btn-primary hero__button">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn-reset btn btn-primary hero__button-hidden">подробнее</a>
			</div>
		</div>
		<button class="btn-reset btn-control btn-control-next hero__button-control hero__button-control-next">
			<svg class="btn-control__arrow">
				<use xlink:href="./img/sprite.svg#right-arrow"></use>
			</svg>
		</button>
		<div class="swiper-pagination hero__pagination"></div>
	</div>
</section>
