<section class="menu">
	<div class="menu__container">
		<button class="btn-reset menu__close">
			<img src="./img/close.svg" class="image menu__close" width="44" height="44" alt="#" />
		</button>
		<ul class="list-reset header__list menu__list">
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link">Подготовка водителей</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link">Услуги и цены</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link">Записаться</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link header__link-online">Online обучение</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="footer__link-discount menu__link-discount">
					Акции и скидки
					<img
						src="./img/discount.svg"
						class="image footer__icon-discount"
						width="19"
						height="21"
						alt="Иконка скидки"
					/>
				</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link menu__link-capitalize">Об организации</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link menu__link-capitalize">Часто задаваемый вопросы</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link menu__link-capitalize">Отзывы</a>
			</li>
			<li class="header__item menu__item">
				<a href="#" class="header__link menu__link menu__link-capitalize">Контакты</a>
			</li>
		</ul>
	</div>
	<div class="footer__container-phone menu__phone">
		<a href="tel:" class="btn-reset footer__call">
			<img src="./img/phone.svg" class="image footer__icon-phone" width="20" height="20" alt="Иконка телефона" />
			<div class="footer__container-call">
				<div class="footer__text-call footer__text-call-primary">8 (999) 000-55-10</div>
				<div class="footer__text-call footer__text-call-secondary">заказать звонок</div>
			</div>
		</a>
		<div class="footer__social">
			<a href="#" target="_blank" class="footer__link-social">
				<svg class="footer__icon footer__icon-vk">
					<use xlink:href="./img/sprite.svg#vk"></use>
				</svg>
			</a>
			<a href="#" target="_blank" class="footer__link-social">
				<svg class="footer__icon footer__icon-tg">
					<use xlink:href="./img/sprite.svg#tg"></use>
				</svg>
			</a>
			<a href="#" target="_blank" class="footer__link-social">
				<svg class="footer__icon footer__icon-whatsapp">
					<use xlink:href="./img/sprite.svg#whatsapp"></use>
				</svg>
			</a>
		</div>
	</div>
</section>
