<section class="stats">
	<div class="stats__fade"></div>
	<div class="container stats__container">
		<div class="stats__body">
			<picture class="stats__picture stats__picture-1">
				<source srcset="./img/stats-image-1-480.webp" media="(max-width: 480px)" />
				<img
					src="./img/stats-image-1.webp"
					class="image stats__image stats__image-1"
					width="461"
					height="310"
					alt="Год старта работ"
				/>
			</picture>
			<picture class="stats__picture stats__picture-2">
				<source srcset="./img/stats-image-2-480.webp" media="(max-width: 480px)" />
				<img
					src="./img/stats-image-2.webp"
					class="image stats__image stats__image-2"
					width="647"
					height="380"
					alt="Количество клиентов"
				/>
			</picture>
			<picture class="stats__picture stats__picture-3">
				<source srcset="./img/stats-image-3-480.webp" media="(max-width: 480px)" />
				<img
					src="./img/stats-image-3.webp"
					class="image stats__image stats__image-3"
					width="461"
					height="316"
					alt="Процент сдачи экзаменов"
				/>
			</picture>
		</div>
	</div>
</section>
