<section class="types">
	<div class="container types__container">
		<h2 class="title types__title">Обучение водителей <span class="types__title-grey">Категории</span></h2>
		<div class="swiper types__slider">
			<div class="swiper-wrapper types__wrapper">
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-1.webp"
							class="image types__image types__image-1"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-2.webp"
							class="image types__image types__image-2"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-3.webp"
							class="image types__image types__image-3"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-4.webp"
							class="image types__image types__image-4"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-5.webp"
							class="image types__image types__image-5"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-6.webp"
							class="image types__image types__image-6"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-7.webp"
							class="image types__image types__image-7"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-8.webp"
							class="image types__image types__image-8"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__container-image">
						<img
							src="./img/types-image-9.webp"
							class="image types__image types__image-9"
							width="810"
							height="518"
							alt="Изображение категории"
						/>
					</div>
				</div>
				<div class="swiper-slide types__slide">
					<div class="types__column">
						<p class="types__paragraph">
							Категория «BE» - автомобили категории «В», сцепленные с прицепом, разрешенная максимальная
							масса которого превышает 750 килограммов и превышает массу автомобиля без нагрузки;
							автомобили категории «В», сцепленные с прицепом, разрешенная максимальная масса которого
							превышает 750 килограммов, при условии, что общая разрешенная максимальная масса такого
							состава транспортных средств превышает 3500 килограммов
						</p>
						<div class="types__billing">
							<h4 class="title types__period">3 месяца</h4>
							<h3 class="title types__price">40 000 руб.</h3>
						</div>
						<a href="#" class="btn-reset btn btn-primary btn-primary-shadowless types__button">
							записаться
							<img
								src="./img/right-yellow-arrow.svg"
								class="image btn-primary__arrow"
								width="9"
								height="14"
								alt="Стрелка вправо"
							/>
						</a>
					</div>
					<div class="types__column-last">
						<h3 class="title types__title-slide">АI, AII, B, C, D Гостехнадзор</h3>
						<div class="types__container-image">
							<img
								src="./img/types-image-10.webp"
								class="image types__image types__image-10"
								width="810"
								height="518"
								alt="Изображение категории"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="types__container-pagination">
				<h4 class="title types__title-pagination">Категории</h4>
				<div class="types__pagination"></div>
			</div>
		</div>
	</div>
</section>
