<section class="why">
	<div class="container why__container">
		<h2 class="title why__title">ПОЧЕМУ ИМЕННО <span class="why__title-yellow">ДОСААФ</span></h2>
		<ul class="list-reset why__list">
			<li class="why__item">
				<img
					src="./img/why-image-1.webp"
					class="image why__image why__image-1"
					width="252"
					height="156"
					alt="Дорожные конусы"
				/>
				<h4 class="title why__subtitle">Самый большой</h4>
				<p class="why__paragraph">профессиональный автодром Коломны</p>
			</li>
			<li class="why__item">
				<img
					src="./img/why-image-2.webp"
					class="image why__image why__image-2"
					width="224"
					height="225"
					alt="Дорожные конусы"
				/>
				<h4 class="title why__subtitle">Оборудованный</h4>
				<p class="why__paragraph">учебный класс</p>
			</li>
			<li class="why__item">
				<img
					src="./img/why-image-3.webp"
					class="image why__image why__image-3"
					width="210"
					height="210"
					alt="Дорожные конусы"
				/>
				<h4 class="title why__subtitle">Предложим условия</h4>
				<p class="why__paragraph">лучше чем в любой из&nbsp;автошкол Коломны</p>
			</li>
		</ul>
	</div>
</section>
